<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>你好，<%=name%></h1>

    <hr>

    <h2>添加用户</h2>
    <br>
    用户名：<input type="text" id="name">
    <br>
    密码：<input type="text" id="pwd">
    <br>
    <button id="addUser">添加</button>

    <br>
    <table>
        <thead>
            <tr>
                <td>姓名</td>
                <td>密码</td>
            </tr>
        </thead>
        <tbody id="tbody">
                
        </tbody>
    </table>

    <script src="/javascripts/jquery/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>